spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/olx_db
    username: postgres
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: abdulbositAbdurahimov70@gmail.com
    password: 'cphf yxno yydk sufr'
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080

olx:
  app:
    base-folder: /home/abdulbosit/IdeaProjects/OLX-backend/src/main/resources/olx

springdoc:
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    root: WARN
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.type.descriptor.sql: TRACE
    com.example.your.app: DEBUG
recaptcha:
  site-key: YOUR_SITE_KEY
  secret-key: YOUR_SECRET_KEY
